*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-text-color: rgb(0, 65, 42);
    --accent-color: #a6c7cf;
    --button-background-color: white;
    --button-border-color: black;
    font-family: 'DotGothic16', sans-serif;
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}
