@font-face {
  font-family: 'Graphik';
  src: url('../fonts/GraphikBold.otf') format('opentype');
  font-weight: 700;
}


@font-face {
  font-family: 'Graphik';
  src: url('../fonts/GraphikRegular.otf') format('opentype');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #2091F9;
  --accent-color: #2DC071;
  --text-color: #252B42;
  --second-text-color: #374754;
  --light-text-color: #FFFFFF;
  --dark-background-color: #252B42;
  --light-background-color: #FFFFFF;
}

html {
  font-family: 'Graphik';
  scroll-behavior: smooth;
  font-size: 16px;
}

.header {
  background-image: url('../img/backgroundhead.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 930px;
  padding-bottom: 50px;
}

.header__wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 50px;
  align-items: center;
  margin-bottom: 160px;
}

.header__nav {
  width: 40%;
}

.header__list {
  display: flex;
  gap: 40px;
}

.header__link {
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.8;
}

.header__logo {
  width: 20%;
  text-align: center;
}

.header__socialmedia {
  width: 40%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}

.header__content {
  max-width: 766px;
  margin-left: auto;
  margin-right: auto;
}

.header__content-text {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 90px;
}

.header__content-title {
  font-size: 74px;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 84px;
}

.header__content-subtitle {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}

.button {
  border-radius: 35px;
  font-size: 20px;
  padding: 16px 60px;
  text-decoration: none;
}

.button--primary {
  color: #FFFFFF;
  background-color: var(--primary);
  transition: 0.3s;
}

.button--primary:hover {
  background-color: #0054a3;
}

.header_button {
  text-align: center;
}